article.property {
    width: 100%;
}

article.property h3 {
    background-image: none;
    background-color: #e4e4e4;
    background-repeat: repeat-x;
    color: #4b4b4b;
}

article.property li h3 {
    background-image: none;
}

.collaboratorship-link-container {
    margin: 12px 0 8px 0;
    width: auto;
}

.collaboratorship-link-container a {
    min-width: 185px;
}

.collaboratorship-link-container a.btn-info {
    background-image: none;
    background-color: #AF1414;
    border-color: #AF1414;
    color: #ffffff;
}

.collaboratorship-link-container a.btn-info:hover {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
    color: #fafafa;
}


.collaboratorship-link-container img {
    height: 14px;
    width: 14px;
}

.visualization-buttons {
    text-align: center;
}

.pastPosition {
    display: none;
}

#individual-hasResearchArea a {
    background: transparent;
    border: 1px solid #AF1414;
    color: #AF1414;
    font-weight: 400;
    transition: all 0.5s;
    padding: .1em .4em .1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#individual-hasResearchArea a:hover {
    background: #AF1414;
    color: #fff;
    text-decoration: none;
}

#individual-intro h1 {
    font-size: 1.375em;
    color: #AF1414;
}

#individual-intro #iconControlsRightSide {
    float: right;
    background-color: #fff;
    margin-right: 10px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    line-height: 1em;
}

#individual-intro span.display-title {
    padding-left: 0px;
    margin-left: 10px;
}

#individual-intro h1.foaf-person span.display-title {
    font-size: .825em;
    border-left: 1px solid #a6b1b0;
    padding-left: 10px;
}

#individual-intro h2 {
    clear: both;
    margin-left: 10px;
}

ul#individual-hasResearchArea {
    margin-left: 10px;
}

ul#individual-hasResearchArea li,
ul#individual-facultyMemberships li {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-right: none;
}

.edit-mainImage {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    padding: 0 6px 0 6px;
    top: 6px;
    left: 21px;
}
a.edit-mainImage img.edit-individual {
    border: 0;
    padding-left: 0px;
    margin-left: 8px;
}
.delete-mainImage {
    position: absolute;
    top: 6px;
    left: 55px;
    background: rgba(255, 255, 255, 0.6);
    padding: 0 6px 0 6px;
}

#admin {
    background-color: #E3E3E3;
    margin-top: 15px;
}
#admin h3 {
    background-color: #AF1414;
    color: #fff;
}

ul#individual-personInPosition {
    list-style: none;
    padding-left: 10px;
}

ul#individual-personInPosition li {
    line-height: 1.3em;
}

ul#individual-personInPosition li:last-child {
    padding-bottom: 5px;
}

ul#individual-personInPosition li:last-child:hover {
    color: #AF1414;
    cursor: pointer;
}

section#preferredTitle h2 {
    float: left;
    font-size: 0.8em;
    color: #E3E3E3;
    margin-right: 10px;
}

#individual-info h2,
#individual-info ul {
    margin-left: 0px;
}

#individual-info {
    margin-bottom: 20px;
}

h1.foaf-person span {
    font-size: 1.1em;
}