.hero form input {
    margin-top: 1px;
    height: 2.5em;
}

.hero form input:focus {
    outline-color: #af1414;
}

input[type="text"], select, input[type="password"] {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #4b4b4b;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #af1414;
}

form select {
    height: 3em;
}

#individual-intro ul.individual-urls {
    list-style-type: none;
    margin: 0 0 15px 0px;
}

#add-relation input.pos-submit {
    background-color: #af1414;
}

table#table-listing th {
    background-color: #E3E3E3;
}

.form-control:focus {

    border-color: #af1414;
    outline: 0;
    outline-color: currentcolor;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(175, 20, 20, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(175, 20, 20, .6);
}

.collaboratorship-link h3 a {
    color: #4b4b4b;
    text-decoration: none;
}

.btn {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#header-entity-label, #noPublications-header, #noPubsOrGrants-header {
    color: #af1414;
}

#main-science-areas-table-footer, #download-unlocated-journal-info {
    background-color: #af1414;
    padding-bottom: 25px;
}

#main-science-areas-table-footer:hover, #download-unlocated-journal-info:hover {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
    color: #fafafa;
}

#main-science-areas-table-footer a:hover {
    color: #fafafa;
}

#header-entity-label a {
    font-size: 1.5em;
}

a.temporalGraphLinks {
    background-color: #af1414;
    padding: 5px;
}

a.temporalGraphLinks:hover {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
    color: #fafafa;
}

.filter-option {
    color: #af1414;
}

.active-filter {
    color: #4b4b4b;
}

#temporal-graph-response #bottom p {
    clear: both;
}
#temporal-graph-response p.displayCounter {
    clear: both;
}
#datatable_paginate span {
    color: #af1414;
}

.searchTOC ul {
    background-color: #E3E3E3;
}
.searchTOC ul li {
    margin-left: 0px;
    padding-left: 20px;
    width: 100%;
}
.searchTOC ul li:hover {
    background-color: #af1414;
    color: #ffffff;
}
.searchTOC ul li:hover a,
.searchTOC ul li:hover span {
    color: #ffffff;
}

.searchTOC {
    margin-right: 0px;
    background-color: #af1414;
}

span#searchHelp {
    padding-right: 0px;
}
